* {
	box-sizing: border-box;
}

.container {
	width: 960px;
	margin: 0 auto;
}

header {
	background-color: yellow;
}

header h1 {
	display: inline-block;
	width: 476px;
	padding: 0 15px;
}

header nav {
	display: inline-block;
	width: 476px;
	text-align: right;
}

header nav a {
	color: black;
	text-decoration: none;
	padding: 0 5px;
}

article {
	background-color: white;
	width: 476px;
	display: inline-block;
	padding: 0 5px;
}
