/* This is my first comment */

h1,h4 {
	color:rgb(129,216,208);
	font-family:georgia;
}
body {
	font-family:georgia;
	color:grey;
}
ul {
	font-family:georgia;
	color:green;
}

.italicise {
	font-style:italic;
}

#highlightblue {
	background-color:rgba(129,216,208,0.5);
}



/* TO OVERRIDE UL TAG COLOR ADD A MORE SPECIFIC RULE */

#point-break {
	color:orange;
}